# dependencies
node_modules

# build output
dist
.vite

# os / editor cruft
.DS_Store
.idea/
.vscode/
*.swp

# logs / coverage
*.log
coverage
.cache

# typescript incremental
*.tsbuildinfo

# env
.env
.env.local
.env.development.local
.env.production.local

# tmp
tmp/
*.tmp
